:root {
    --dhl-red: #D40511;
    --dhl-yellow: #FFCC00;
    --card-body: #FFF5CC;
    --grid-line: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: 'Delivery', Arial, sans-serif;
    background-color: #fff;
}

#sidebar {
    width: 380px;
    background: #f4f4f4;
    border-right: 5px solid var(--dhl-yellow);
    padding: 25px;
    display: flex;
    flex-direction: column;
    z-index: 2000;
}

#viz-container {
    flex-grow: 1;
    cursor: grab;
    background-image: linear-gradient(var(--grid-line) 1px, transparent 1px), linear-gradient(90deg, var(--grid-line) 1px, transparent 1px);
    background-size: 20px 20px;
}

.link {
    fill: none;
    stroke: var(--dhl-red);
    stroke-width: 2px;
}

.legend {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border: 2px solid #000;
    box-shadow: 4px 4px 0px var(--dhl-yellow);
    z-index: 1500;
    pointer-events: none;
}